@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
} 
*{
	cursor: url("imagenes/flora.svg"), auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*etiquetas interior*/

body{
	max-width: 100%;
	height: 100vh;
    background-color:#F4FC8D;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 1.3rem;
}

html {
  scroll-behavior: smooth;
}


/*header*/

.presentacion{
	max-width: 100%;
	margin-top: 100px;
}

.boton1 {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.cont-boton2{
	display: flex;
    justify-content: flex-start;
    margin-left: 300px;
    margin-top: -400px;
}
.boton2{
	display: flex;
	flex-direction: column;
    width: 401px;
    height: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: #276fb7;
    border-radius: 20px;
    list-style: none;
    font-size: 35px;
	box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
}
.boton2 a{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
.navegacion{
	background-color:black;
	border-radius: 31px;
    padding: 20px 20px;
}
root {
  variable-name: value;
}
selector {
  propiedad: var;
}

root {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  normal-font: 400;
  bold-font: 700;
  bolder-font: 900;
  bg-color: #fcfcfc;
  primary-color: #4756df;
  secondary-color: #ff7235;
  primary-shadow: #8b8eaf;
  secondary-shadow: #a17a69;
  bottom-margin: 0.5rem;
  bottom-margin-2: 1rem;
  line-height: 1.7rem;
  transition: 0.3s;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: yellow;
}

nav {
    padding: 1.5rem 1rem;
	background-color: yellow;
	max-width: 100%
  }
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
nav h1 {
  color: black;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  letter-spacing: 2px;
}

nav a {
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 25px;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}
nav a:hover {
  color: white;
  border-radius: 20px;
  border-bottom: #848484px solid;
  background-color:grey;
}

nav ul {
  display: flex;
  gap: 2.9rem;
  text-decoration: none;
}

nav ul li {
  font-weight: var;
}
nav ul.show {
  transform: translateX(0);
  }

/*main*/

.menu-flora {
  color: var navy;
  font-size: 3rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.flora {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  margin-top: 300px;
  padding-top: 90px;
  background-color: #F4FC8D;
}
.flora-img {
  height: 37.5rem;
  width: 37.5rem;
  box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
  overflow: inherit;
  border-radius: 12%;
}

#hobbie{
	padding-top: 5px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}

.bio {
    width: 20.5rem;
	margin-top: 100px;
  }
.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-top: 10px;
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 25px;
}



/*info sobre mi*/

.mas-sobre {
    display: inline-flex;
    margin: 0px;
    padding: 2px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mas-sobre h3 {
  margin-left: 0px;
  padding: 0px;
  text-align: center;
}

.mas-sobre p {
  line-height: inherit;
  padding: 0.4rem;
}

/*acerca de mi VINCULO*/

.miexperiencia{
    width: 90rem;
    padding: 2.3rem;
    display: flex;
	justify-content: space-evenly;
}
.acerca-mi h2 {
    margin: 20px;
	display: flex;
	align-items: flex-start;
}
.acerca-texto {
	width: 40rem;
    padding: 1.1rem;
	
}


/*herramientas*/

.header-habilidades{
	padding: 25px;
	display: block;
}
.habilidades {
    display: inline-flex;
    margin-top: 30px;
    padding: 2px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contenedor-habilidades {
   margin-top: 20px;
   width: 11.875rem;
   height: 11.25rem;
}


.icono {
  width: 11.875rem;
  height: 11.25rem;
}

/*solapa de 3 fotos*/

.proyectos {
    background-image: url(imagenes/fondo.jpg);
    background-repeat: repeat;
    background-size: 100%;
    margin-top: 5rem;
    padding-top: 10px;
    display: flex;
    justify-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.proyectos h2{
	display: flex;
	color: black;
	text-align: center;
	margin-left: 10px;
	margin-top: 30px;
}

.foto-de-proyecto {
  width: 65%;
  height: 60%;
}

.contenedor-de-proyectos {
    display:inline-flex;
    text-align: center;
    padding: inherit;
    transition: var;
}

.contenedor-de-proyectos:hover {
	transform: scale(1.08);
}
.titulo-de-proyectos {
  display: block;
  justify-content: center;
  margin-bottom: 1rem;
}
.contenedor-de-proyectos h3{
  color: black;
  font-family: cadio, "EB Garamond SemiBold", "Futura Md BT", "Hey October", "Ibarra Real Nova";
  letter-spacing: 2px;
	
}
.detalles-de-proyectos{
	display: inline-flex;
    justify-content:flex-start;
}
.contenedor-de-proyectos {
  text-align: center;
  padding: 1rem;
  margin: 3rem;
}
.project-pic{
	width: 500px;
    height: 350px;
	display: inline-flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
	border-radius: 2%;
	box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
	cursor: pointer;
}


/*galeria de fotos*/

.foto-trabajo{
	margin-left: 3%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-around;
}
.foto-trabajo h2{
	color: black;
	margin: 20px 40px;
}
#galeria{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1900px;
	height: 700px;
	overflow: hidden;
	box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
	background-image: url("imagenes/fondo.jpg");
}
#galeria img{
	display: flex;
	align-items: center;
	width: 580px;
	height: 600px;
	transition: 2s;
}
#galeria img:hover{
	transform: translateX(-20%);
	filter: brightness(58%);
}

.galeria-1vinculo{
	display: flex;
    justify-content: space-evenly;
}
.fototigre {
	width: 500px;
	height: 600px;
	padding-bottom: 100px;
	margin-top: 80px;
	box-shadow: 1px 8px 10px rgba(0,0,0,0.5);
}
.biotigre {
    width: 20.5rem;
	margin-top: 100px;
  }
.biotigre {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.biotigre h1 {
  margin-top: 10px;
}

.biotigre p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 25px;
}

.galeria-2vinculo{
	display: flex;
    justify-content: space-evenly;
}
.fotolibro {
	width: 500px;
	height: 600px;
	padding-bottom: 100px;
	margin-top: 80px;
	box-shadow: 1px 8px 10px rgba(0,0,0,0.5);
}
.biolibro {
    width: 20.5rem;
	margin-top: 100px;
  }
.biolibro {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
}

.biolibro h1 {
  margin-top: 10px;
}

.biolibro p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 25px;
}

.galeria-3vinculo{
	display: flex;
    justify-content: space-evenly;
}
.fotocollege{
	width: 500px;
	height: 600px;
	padding-bottom: 100px;
	margin-top: 80px;
	box-shadow: 1px 8px 10px rgba(0,0,0,0.5);
}
.biocollege {
    width: 20.5rem;
	margin-top: 100px;
  }
.biocollege {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
}

.biocollege h1 {
  margin-top: 10px;
}

.biocollege p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 25px;
}

.galeria-4vinculo{
	display: flex;
    justify-content: space-evenly;
}
.fotocuento{
	width: 500px;
	height: 600px;
	padding-bottom: 100px;
	margin-top: 80px;
	box-shadow: 1px 8px 10px rgba(0,0,0,0.5);
}
.biocuento {
    width: 20.5rem;
	margin-top: 100px;
  }
.biocuento {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
}

.biocuento h1 {
  margin-top: 10px;
}

.biocuento p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 25px;
}



/*contacto padre*/
.contacto {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	
}
.contacto-titulos img{
   width: 500px;
   height: 800px;
}
.control-formulario{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.formulario-contacto-contenedor{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	align-content: space-between;
    flex-wrap: wrap;
    margin: initial;
}
.control-formulario label {
  line-height: 2.7em;
  font-weight: bold;
  color: darkorange;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin-top: 6px;
  font-size: 30px;
}
.control-formulario textarea {
  min-height: 2rem;
  font-size: 30px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.control-formulario .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var #BDAD26;
  font-size: 1.200rem;
  outline: none;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
/*enviar*/

.input-field:placeholder {
  padding: 1.5rem;
}
.submit-btn {
  max-width: 100%;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}
.submit-btn:hover {
  background-color: orange;
  border: 2px solid #FFC031;
  cursor: pointer;
}

/*aside*/

.sociales {
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}


/*footer*/

footer {
  background-color: orange;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}


	

@media screen and (max-width: 600px) {
	.header{
	 max-width: 100%;
	}
   .presentacion img{
	 width: 18.3rem;
	}
	
  .flora-img img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .contenedor-proyecto {
    width: 17.875rem;
  }

  .contenedor-formulario-de-contacto{
    max-width: 17.75rem;
  }
 }